/* ========== STYLES ========== */

/* === GENERAL === */
* {
  /* == COLORS == */
  --black: #1a1a1a;
  --white: #e9ecef;
  --red: #bd1f36;

  /* == FONT == */
  font-family: "Inter", sans-serif;

  /* == FONT SIZE == */
  --giga: 10rem;
  --big: 5.5rem;
  --h1: 2rem;
  --h2: 1.75rem;
  --h3: 1.15rem;
  --h4: 1rem;

  --text: 0.975rem;

  /* == RESET == */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;

  list-style: none;
  text-decoration: none;

  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: url("/assets/alexander-popov-f3e6YNo3Y98-unsplash.jpg") no-repeat
    52% -20%;
}

@font-face {
  font-family: headerFont;
  font-weight: 600 800 900;
  src: url("/assets/Font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: local("/assets/Font/Inter/Inter-VariableFont_slnt,wght.ttf");
}

/* === NAVIGATION === */

.nav-container {
  height: max-content;
  max-height: 125px;
  background-color: transparent;
  margin: 0;
  padding: 1.25rem;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 2rem;
  box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.1);
  background-color: #20202064;
  border-radius: 8px;
  padding: 1rem;
}

.nav-logo {
  height: max-content;
  max-width: 180px;
}

#nav-logo {
  max-width: 100%;
  max-height: 100%;
}

.nav-list li a {
  color: var(--white);
  padding: 1rem;
  font-size: var(--h3);
}

/* === NAVIGATION MEDIA QUERY === */
@media screen and (max-width: 768px) {
  .nav-logo {
    display: none;
  }
  .nav-list {
    width: 100%;
    gap: 10px;
    margin: 1rem;
  }

  .nav-list li a {
    font-size: var(--text);
    padding: 0%;
    margin-left: 3.3px;
  }

  .nav-container {
    margin: 0%;
    padding: 0;
    z-index: 99;
  }
}

/* === MAIN === */
.main-container {
  height: 98vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.main-intro {
  height: max-content;
  width: 55%;
  text-align: right;
  color: var(--white);
}

#main-header {
  font-family: headerFont;
  font-size: var(--giga);
  font-weight: 800;
  color: var(--white);
}

.main-text {
  width: 30%;
  padding: 3rem;
  box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.1);
  background-color: #2020202c;
  border-radius: 8px;
  color: var(--white);
  height: 50vh;
  animation: float 5s ease-in-out infinite;
}

#main-text-content {
  font-size: var(--h1);
  letter-spacing: 1px;
}

#main-text-btn {
  background: transparent;
  border: none;
  text-align: center;
  width: 90%;
  margin-top: 2rem;
}

#main-text-btn a {
  background: #20202094;
  padding: 0.85rem;
  border-radius: 8px;
  color: var(--white);
  box-shadow: 0px 23px 22px 20px rgba(0, 0, 0, 0.173);
  font-size: 1.3rem;
  transition: all 0.55s ease-in-out;
}

#main-text-btn a:hover {
  background: #bd1f3778;
}

/* === MAIN MEDIA QUERY === */
@media screen and (max-width: 768px) {
  body {
    background: url("./assets/alexander-popov-R25Q-pAUeY8-unsplash.jpg")
      no-repeat 30% -15%;

    max-width: 768px;
  }

  .main-container {
    flex-direction: column;
    gap: 40px;
  }

  .main-intro {
    text-align: center;
  }

  #main-header {
    font-size: 3.5rem;
    font-weight: 800;
  }

  #main-subtext {
    font-size: var(--h3);
  }

  .main-text {
    width: 80%;
    animation: float 9s ease-in-out infinite;
    height: max-content;
  }

  #main-text-content {
    font-size: var(--h3);
  }

  #main-text-btn a {
    font-size: var(--text);
  }
}

/* === ARTIST SLIDE === */

.slide-container {
  height: 100vh;

  width: 100%;
  background-color: var(--black);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-header {
  height: 20vh;
  color: var(--white);
}

#slide-heading {
  font-size: var(--big);
  font-family: headerFont;
  font-weight: 900;
  animation: float 5s ease-in-out infinite;
}

.slide-content {
  padding: 45px 20px;
  margin: 0 40px;
  overflow: hidden;
  max-width: 1420px;
  border-radius: 25px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem;
}

.card-content > * {
  padding: 1rem;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card {
  border-radius: 25px;
  background: var(--white);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--red);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--red);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--white);
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: var(--red);
  padding: 3px;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--black);
}

#card-social-img {
  height: auto;
  max-width: 50px;
}

#name {
  font-size: var(--h2);
  font-weight: 600;
  color: var(--black);
}

.desc {
  font-size: var(--h4);
  color: var(--black);
  text-align: center;
}

button {
  border: none;
  font-size: var(--h4);
  color: var(--red);
  padding: 8px 16px;
  background-color: var(--black);
  border-radius: 8px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #1a1a1ac5;
}

.swiper-navBtn {
  color: var(--red) !important;
  margin: 2rem;
  transition: all 0.5s ease;
}

.swiper-pagination {
  color: var(--red) !important;
  opacity: 1;
}

.swiper-navBtn:hover {
  color: var(--white) !important;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none !important;
  }
}

/* === ANIMATION === */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
