/* ========== PRIVATE ========== */

/* === GENERAL === */
* {
  /* == COLORS == */
  --black: #1a1a1a;
  --white: #e9ecef;
  --red: #bd1f36;

  /* == FONT == */
  font-family: "Inter", sans-serif;

  /* == FONT SIZE == */
  --giga: 10rem;
  --big: 5.5rem;
  --h1: 2rem;
  --h2: 1.75rem;
  --h3: 1.15rem;
  --h4: 1rem;

  --text: 0.975rem;

  /* == RESET == */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;

  list-style: none;
  text-decoration: none;

  scroll-behavior: smooth;
}

@font-face {
  font-family: headerFont;
  font-weight: 600 800 900;
  src: url("/assets/Font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: local("/assets/Font/Inter/Inter-VariableFont_slnt,wght.ttf");
}

body {
  background: url("/assets/private.jpg") 26% -15%;
}

/* === NAVIGATION === */

.nav-container {
  height: max-content;
  max-height: 125px;
  background-color: transparent;
  margin: 0;
  padding: 1.25rem;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 2rem;
  box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.1);
  background-color: #20202064;
  border-radius: 8px;
  padding: 1rem;
}

.nav-logo {
  height: max-content;
  max-width: 180px;
}

#nav-logo {
  max-width: 100%;
  max-height: 100%;
}

.nav-list li a {
  color: var(--white);
  padding: 1rem;
  font-size: var(--h3);
}

/* === NAVIGATION MEDIA QUERY === */
@media screen and (max-width: 768px) {
  .nav-logo {
    display: none;
  }
  .nav-list {
    width: 100%;
    gap: 10px;
    margin: 1rem;
  }

  .nav-list li a {
    font-size: var(--text);
    padding: 0%;
    margin-left: 3.3px;
  }

  .nav-container {
    margin: 0%;
    padding: 0;
    z-index: 99;
  }
}

/* === MAIN === */
.main-container {
  height: 88vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.main-intro {
  height: max-content;
  width: 55%;
  text-align: right;
  color: var(--white);
}

#main-header {
  font-family: headerFont;
  font-size: var(--giga);
  font-weight: 800;
}

.main-text {
  width: 23%;
  padding: 3rem;
  box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.1);
  background-color: #2020207d;
  border-radius: 8px;
  color: var(--white);
  height: max-content;
  animation: float 5s ease-in-out infinite;
}

#main-text-content {
  font-size: var(--h1);
  text-align: center;
}

#main-text-btn {
  background: transparent;
  border: none;
  text-align: center;
  width: 90%;
  margin-top: 2rem;
}

#main-text-btn a {
  background: #20202094;
  padding: 0.85rem;
  border-radius: 8px;
  color: var(--white);
  box-shadow: 0px 23px 22px 20px rgba(0, 0, 0, 0.173);
  font-size: 1.3rem;
  transition: all 0.55s ease-in-out;
}

#main-text-btn a:hover {
  background: #bd1f3778;
}

/* === MAIN MEDIA QUERY === */
@media screen and (max-width: 768px) {
  body {
    background: url("/assets/private.jpg") no-repeat 29% -45%;
  }

  .main-container {
    flex-direction: column;
    gap: 40px;
  }

  .main-intro {
    text-align: center;
  }

  #main-header {
    font-size: 2.8rem;
    font-weight: 800;
  }

  .main-text {
    width: 80%;
    animation: float 9s ease-in-out infinite;
    height: auto;
  }

  #main-text-content {
    font-size: var(--h2);
    text-align: center;
  }

  #main-text-btn a {
    font-size: var(--text);
  }
}

/* === ANIMATION === */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* === STEPS === */
.steps-container {
  height: 100vh;
  background-color: var(--black);
  color: var(--white);

  display: flex;

  justify-content: center;
  align-items: center;
}

.steps-intro {
  text-align: center;
  width: 40%;
}

#steps-header {
  font-family: headerFont;
  font-weight: 600;
  padding: 1rem;
  font-size: var(--big);
  margin-left: 2rem;
}
.steps-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.steps-slider {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
}

.slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 4s;
  transition-property: clip-path;
}

.slide img {
  z-index: 1;
  height: auto;
  max-width: 600px;
}

.slide-content h2 {
  font-size: var(--h2);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.slide-content p {
  padding: 1rem;
}

.slider-navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: -150px;
  left: 50%;

  transform: translateX(-50%);
}

.slider-navigation .btn {
  background-color: red;
  width: 12px;
  height: 12px;
  margin: 10px;

  border-radius: 50%;
  cursor: pointer;
}

#slide-header {
  font-weight: 700;
  font-size: var(--h1);
}

.slider-navigation .btn.active {
  background: var(--white);
}

@media (max-width: 768px) {
  .steps-container {
    height: 105vh;
    overflow-x: hidden;
    flex-direction: column;
  }
  .steps-slider {
    width: 600px;
    height: 375px;
  }

  .slide-content {
    flex-direction: column;
    padding: 10px 25px;
  }

  .steps-content {
    flex-direction: column;
  }

  #steps-header {
    width: 100%;
    margin-left: 0;
    font-size: var(--h1);
  }

  .steps-intro {
    width: 90%;
  }

  .slide-img img {
    max-width: 220px;
  }

  .slide-content h2 {
    font-size: 1rem;
    letter-spacing: normal;
  }

  .slider-navigation {
    bottom: 25px;
  }

  .slider-navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

/* === CONTACT === */
.contact-container {
  height: 100vh;
  background: var(--black);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#strong {
  color: var(--red);
  font-size: var(--big);
}

#contact-header {
  font-size: var(--big);
  width: 100%;
  text-align: center;
  font-family: headerFont;
}

#contact-header-subtext,
#contact-header-subtext b {
  font-size: var(--h1);
  width: 79%;
  text-align: center;
}

#contact-header-subtext b {
  margin: 0 0.25rem;
}
#content-card-text {
  font-size: var(--h1);
}

.contact-card {
  display: flex;
  width: 70%;
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--red);
  border-radius: 15px;
  animation: float 5s ease-in-out infinite;
  box-shadow: 0px 0px 14px 29px rgba(0, 0, 0, 0.211);
}

.contact-card > * {
  padding: 1rem;
}

#card-img {
  height: auto;
  max-width: 60px;
  filter: brightness(0) invert(1);
}

#contact-card-tel a {
  font-size: var(--h1);
  color: var(--white);
}

.content-card-socials {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

@media screen and (max-width: 767px) {
  .contact-content {
    flex-direction: column;
  }

  #contact-header {
    font-size: var(--h1);
  }

  #strong {
    font-size: var(--h1);
  }

  #contact-header-subtext {
    font-size: var(--h3);
  }

  #contact-header-subtext b {
    font-size: var(--h3);
  }

  .contact-card {
    width: 85%;
  }

  #content-card-text {
    font-size: var(--h2);
    text-align: center;
  }

  .content-card-socials {
    gap: 3rem;
    flex-direction: row;
  }

  #card-img {
    max-width: 40px;
  }
}
